body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    color: white;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.container h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.container p {
    color: hsl(215, 51%, 70%);
    font-size: 1.1rem;

}

.image {
    border-radius: 10px;
}

.icon-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-right,
.icon-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-content span {
    padding-left: 5px;
    color: hsl(215, 51%, 70%);
}

#ethereum-value {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

hr {
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    border: none;
    width: 100%;
    margin: 18px 0;
}

.creater-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.creater-img {
    border: 1px solid white;
    border-radius: 50%;
    width: 12%;
}

.creater-info p {
    padding-left: 20px;
    margin: 0;
}

.creater-info span {
    color: white;
}

footer {
    margin-top: 30px;
}

footer .attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

footer .attribution a {
    color: hsl(228, 46%, 58%);
}